.hero {
  background-image: url("https://i.postimg.cc/pLQfQMz3/pic-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 1.5rem;
  max-width: 100%;
  height: auto;
  background-position: 37% 50%;
}
