.holberton_school-icon-arrow_4:before {
  padding-top: to-rem(136);
  content: "\e903";
  font-size: 6rem;
}
.holberton_school-icon-arrow_3:before {
  content: "\e902";
  font-size: 6rem;
}
.holberton_school-icon-ic_facebook:before {
  content: "\e908";
  color: white;
  font-size: to-rem(30);
  padding-left: to-rem(20);
}
.holberton_school-icon-ic_twitter:before {
  content: "\e90f";
  color: white;
  font-size: to-rem(30);
  padding-left: to-rem(20);
}
.holberton_school-icon-ic_instagram:before {
  content: "\e90a";
  color: white;
  font-size: to-rem(30);
  padding-left: to-rem(20);
}