.buy-button{
  padding-top: 63px;
  @include breakpoint(sm-down){
    padding-right: 32px !important;
  }
  @include breakpoint(sm-up){
    padding-right: 3rem !important;
  }
  @include breakpoint(xxs-up){
    &:last-child{
      padding-right: 63px;
      @include breakpoint(md-up){
        padding-right: 97px;
      }
    }&:first-child{
      padding-right: 73px;
      @include breakpoint(md-up){
        padding-right: 206px !important;
      }
    }
    @include breakpoint(md-up){
      padding-right: 6rem !important;
    }
  }
  &__title{
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 55px;
    text-align: center;
    padding-top: 11px;
  }
  &__description{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
  }
}
.group-buy-button{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  @include breakpoint(xxs-down){
    justify-content: space-around;
  }
}
//section table

.table th, .table td{ 
  border-top: none !important;
  border-left: none !important;
  border-bottom: none !important;
  @include breakpoint(sm-up){
    width: 36.3%;
  }
}
.table th{
  @include breakpoint(xxs-down){
    padding: 0 !important;
  }
}
.table{
  
  &__tr{
    border-bottom: solid 1px rgba(255, 255, 255, .2) !important;
  }
  &__td{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 34px;
    color: #FFFFFF;
    padding-top: 36px !important;
  }
  &__th{
    padding-right: 5rem !important;
    &-1{
      padding-right: 4rem !important;
    }
  }
  &__img{
    padding-top: 30px;
    padding-bottom: 49px;
    
  }
  &__check{
    text-align: center;
    @include breakpoint(sm-up){
      &:nth-child(2){
        padding-right: 78px !important;
      }
      &:last-child{
        padding-right: 63px !important;
      }
    }
  }
  &__void{
    @include breakpoint(xxs-down){
      width: 20%;
    }
  }
}
.table__tr:last-child{
  border-bottom: none !important;
}
//section carousel
.text-md-right{
  @include breakpoint(xxs-up){
    text-align: left !important;
  }
  @include breakpoint(md-up){
    text-align: right !important;
  }
}
.carousel{
  padding-bottom: 92px;
  padding-top: to-rem(75);
  &__left{
    @include breakpoint(xs-down){
      padding-top: to-rem(91);
    }  
  }
  &__title{
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 34px;
    color: #FFFFFF;
  }
  &__subtitle{
    font-style: italic;
    font-weight: normal;
    font-size: 22px;
    line-height: 34px;
    color: #FFFFFF;
  }
  &__description{
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 34px;
    color: #FFFFFF;
    padding-bottom: 22px;
  }
}
.carousel-item-pricing{
  @include breakpoint(xxs-up){
    padding-top: 120px;
  }
}
.carousel-item{
  display: flex !important;
}
//section faq
.faq{
  &__title{
    font-style: normal;
    font-weight: 300;
    font-size: 60px;
    line-height: 75px;
    text-align: center;
    color: #071629;
    padding-top: to-rem(74);
    padding-bottom: to-rem(74);
    margin: 0;
  }
  &__subtitle{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #071629;
    padding: 0 to-rem(17);
    padding-bottom: to-rem(30);
    margin: 0;
  }
  &__description{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(7, 22, 41, 0.501584);
    padding: 0 to-rem(17);
    margin: 0;
    padding-bottom: to-rem(146);
  }
}
